.home {
    color: white;
    text-align: center;
    position: relative;
    animation-name: textAppear;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    margin-top: 50px;
}

.home p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

@keyframes textAppear {
    from {
        transform: translateY(50vh)
    }
    to {
        transform: translateY(0vh);
    }
}


@media screen and (max-width: 768px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: scroll;
    }
}