.skills {
    display: flex;
    flex-direction: column;
    padding: 2.5vw 7.5vw;
    gap: 7.5px;
    position: relative;
}

.skill-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    width: 100%;
    border: 1px solid white;
    padding: 2px;
    animation-name: abc;
    animation-duration: 1.5s;
    color: white;
    
}

.info-wrapper .description-wrapper {
    font-size: 12pt;
    margin-top: 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
    .skill-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@keyframes abc {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0vh);
    }
}


