.content {
    width: 100%;
    height: 80vh;
    min-width: 320px;
    min-height: 448px;
    overflow: scroll;
    background-image: linear-gradient( to right, black, black, gray);

}

.floating-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50vh;
}

.floating-button {
    width: 55px;
    height: 55px;
    background-image: linear-gradient( to right, red, red, white);
    border: none;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    box-shadow: 0px 2px 5px #666;
    opacity: .4;
}
.floating-button:hover {
    opacity: .9;
}

.social-media-container-hidden {
    display: none;
}
    .social-media-container a.icon {
        font-size: 55px;
        animation: iconAnimation 1s;
        animation-fill-mode: forwards;
    }
        .social-media-container a.icon i.fab.fa-xing-square {
            margin-left: -5px;
            color: #126567; 
        }
        .social-media-container a.icon i.fab.fa-xing-square:active {
            transform: translateY(3px);
        }
        .social-media-container a.icon i.fab.fa-linkedin {
            margin-left: 20px;
            color: #2867B2;
        }
        .social-media-container a.icon i.fab.fa-linkedin:active {
            transform: translateY(3px);
        }
        .social-media-container a.icon i.fab.fa-whatsapp-square {
            margin-left: -5px;
            color: #25D366;
        }
        .social-media-container a.icon i.fab.fa-whatsapp-square:active {
            transform: translateY(3px);
        }
        @keyframes iconAnimation {
            from {transform: rotateY(0deg);}
            to {transform: rotateY(360deg);}
        }

.social-media-container {
    display: flex;
    flex-direction: column;
    margin-top: -65px;
    animation: socialMediaIconsAppear 0.3s;
    animation-fill-mode: forwards;
}

@keyframes socialMediaIconsAppear {
    from {
        transform: translateX(-200px)
    }
    to {
        transform: translateX(0px)
    }
}