.content {
    width: 100%;
    height: 80vh;
    background-color: black;   
    z-index: -1;
    overflow: scroll;
    font-size: 18pt;
}

.content::before {
    content: "";
    background-image: url('../assets/images/eagle.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    animation: changeOpacity 6s infinite;
}

@keyframes changeOpacity {
    0% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.3;
    }
}

.sidebar-left {
    width: 10vw;
    color: white;
    top: 25%;
    left: -5.5vw;
    transition: 0.3s;
    position: fixed;
    border-radius: 0px 0.8vw 0.8vw 0px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.sidebar-left:hover {
    left: 0;
}

.sidebar-left a.icon {
    font-size: 7vw;
    text-decoration: none;
    margin-left: 0.3vw;
}

.sidebar-left a.icon i.fab.fa-xing-square, i.fab.fa-linkedin, i.fab.fa-whatsapp-square{
    color: black;
}

.sidebar-left a.icon i.fab.fa-xing-square:hover {
    color: #126567;
}


.sidebar-left a.icon i.fab.fa-linkedin:hover {
    color: #2867B2;
}

.sidebar-left a.icon i.fab.fa-whatsapp-square:hover {
    color: #25D366;
}


@media screen and (max-width: 768px) {
    .sidebar-left {
        top: 40%;
    }
    .sidebar-left a.icon {
        font-size: 3vh;
    }
}